extends layout

//- "layout" has "content" and "sidebar" blocks that should be defined here
block content
  p Welcome to #{title}
    
block sidebar
  .widget
    h1 Profile
    p
      | Please log in
