//-
//- The homepage of the app.  The page is generated using a master template pattern.  
//- See the "layout.jade" file for more details.
//-
extends layout

//- "layout" has "content" and "sidebar" blocks that should be defined here
block content
  p Welcome to #{title}
  p This is default scaffolding and an application architecture approach for 
    | a full-featured Node.js/Express website and REST API.  The source code is
    | fully commented for developers new to Node.js programming.
  p Read the documentation on github 
    a(href="https://github.com/jbaumbach/nodejs-scaffolding", target="_blank") here.
  P Browse the REST API documentation 
    a(href="/api/documentation") here.
block sidebar
  .widget
    //-
    //- This is an example of an include.  This is similar to "user controls" in .NET webforms.
    //- It allows you to easily reuse common bits of code in different places.
    //-
    include includes/userWidget