doctype 5
html
  head
    title= title
      |  - Great Site
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    header
      h1 Great Site
    .container
      .main-content
        - if (locals.message) 
          p.message #{ locals.message }
        - if (locals.error)
          p.error #{ locals.error }
        //- Your subclass should define "content" and optionally "sidebar"
        block content
      .sidebar
        block sidebar
    footer
      p Site built with Node.js, Express, Jade, Stylus