//-
//- The login page of the app.  The page is generated using a master template pattern.  
//- See the "layout.jade" file for more details.
//-
extends layout

block content
  form(method='post')
    ul
      li
        label(for='email') Email Address
        input(name='email')
      li
        label(for='password') Password
        input(name='password', type='password')
      li
        input(type='submit', value='Login')
    p
      a(href='/users/new') Create account
