@import url("http://fonts.googleapis.com/css?family=Quicksand");
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td{margin:0;padding:0;border:0;outline:0;font-weight:inherit;font-style:inherit;font-family:inherit;font-size:100%;vertical-align:baseline}
body{line-height:1;color:#000;background:#fff}
ol,ul{list-style:none}
table{border-collapse:separate;border-spacing:0;vertical-align:middle}
caption,th,td{text-align:left;font-weight:normal;vertical-align:middle}
a img{border:none}
a:link,a:visited{color:#50708e;text-decoration:none}
a:hover{text-decoration:underline}
body{font-family:'Georgia';background-color:#031b34;color:#fff}
header{font-family:'Quicksand';padding:50px 10px;color:#fff;font-size:25px;text-align:center;background-color:#50708e;border-bottom:1px solid #384e63;text-shadow:0 -1px 0 #384e63}
.container{width:500px;margin:50px auto;overflow:hidden}
.main-content{float:left;width:300px;}
.main-content p{margin-bottom:20px}
.main-content ul label{float:left;width:120px}
.sidebar{float:left;width:200px;}
.sidebar .widget{-webkit-border-radius:5px;border-radius:5px;border:1px solid #ccc;margin-left:20px;background-color:#031b34;-webkit-box-shadow:inset 0 0 0 3px rgba(255,255,255,0.8),0 3px 0 -2px rgba(0,0,0,0.1);box-shadow:inset 0 0 0 3px rgba(255,255,255,0.8),0 3px 0 -2px rgba(0,0,0,0.1);}
.sidebar .widget h1{font-family:'Quicksand';margin:13px 10px 4px;padding-bottom:10px;border-bottom:1px dotted #ddd;-webkit-border-radius:2px 2px 0 0;border-radius:2px 2px 0 0;margin-bottom:10px}
.sidebar .widget p{font-size:13px;padding:0 10px;margin-bottom:10px}
.error{color:#dbb174}
p{line-height:1.8}
footer{width:500px;margin:50px auto;border-top:1px dotted #ccc;padding-top:5px;font-size:13px}
